.header-info > ul > li a.BuyandSell-dropdown-active i.fa-chevron-down {
    font-size: 8px;
    margin-left: 5px;
  }
  .header-info > ul > li > ul.BuyandSell-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    min-width: 160px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    padding: 10px 15px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 1px solid #ececec;
  }
  .header-info > ul > li:hover > ul.BuyandSell-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    top: 25px;
  }
  .header-style-1 .header-top-ptb-1 .BuyandSell-dropdown a {
    color: #253D4E;
  }